body {
	cursor: url('../images/cursor2.svg'), auto;
}
.first {
  position: absolute;
  top: -9vw;
  left: 0vw;
  width: 100vw;
  height: 71vw;
}
.bg {
  position: relative;
  width: 100vw;
  height: 71vw;
  margin: 0 auto;
  background-image: url('../images/firstsc.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.im1 {
  position: relative;
  width: 17.8vw;
  height: 17.8vw;
  top: -62.2vw;
  left: 7.5vw;
  background-image: url('../images/im1.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.5s;
}
.im2 {
  position: relative;
  width: 8.9vw;
  height: 8.9vw;
  top: -35.47vw;
  left: 7.7vw;
  background-image: url('../images/im2.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.im3 {
  position: relative;
  width: 8.95vw;
  height: 8.95vw;
  top: -71.1vw;
  left: 33.7vw;
  background-image: url('../images/im3.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.im4 {
  position: relative;
  width: 8.95vw;
  height: 8.95vw;
  top: -62.3vw;
  left: 42.4vw;
  background-image: url('../images/im4.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.im5 {
  position: relative;
  width: 8.95vw;
  height: 8.95vw;
  top: -53.4vw;
  left: 59.7vw;
  background-image: url('../images/im5.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.im6 {
  position: relative;
  width: 17.8vw;
  height: 17.8vw;
  top: -80.2vw;
  left: 77vw;
  background-image: url('../images/im6.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.im7 {
  position: relative;
  width: 18vw;
  height: 18vw;
  top: -124.6vw;
  left: 77.2vw;
  background-image: url('../images/im7.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.sq1 {
  position: relative;
  width: 8.7vw;
  height: 8.7vw;
  top: -133.55vw;
  left: 25.08vw;
  background-image: url('../images/sq1.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 1s;
}
.sq3 {
  position: relative;
  width: 8.7vw;
  height: 8.7vw;
  top: -142.4vw;
  left: 51.2vw;
  background-image: url('../images/sq3.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 1s;
}
.im9 {
  position: relative;
  width: 17.8vw;
  height: 17.8vw;
  top: -133.4vw;
  left: 7.8vw;
  background-image: url('../images/im9.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.5s;
}
.im1:hover {
  opacity: 0;
}
.sq1:hover {
  opacity: 0;
}
.sq3:hover {
  opacity: 0;
}
.im4:hover {
  opacity: 0;
}
.im7:hover {
  opacity: 0;
}
.im9:hover {
  opacity: 0;
}
.clue {
  position: absolute;
  width: 13vw;
  height: 3vw;
  top: 42vw;
  left: 7.5vw;
  background-image: url('../images/clue.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  animation: clue 2s infinite;
}
@keyframes clue {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}
