body {
	cursor: url('../images/cursor2.svg'), auto;
}
.waitbg {
  position: absolute;
  width: 100vw;
  height: 71vw;
  top: 0;
  left: 0;
}
.cart7 {
  position: absolute;
  width: 85vw;
  height: 49vw;
  left: 12vw;
  top: 4vw;
  background-image: url('../images/cart7.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  animation: ca7 8s infinite;
}
@keyframes ca7 {
  0%    { opacity: 1; }
  20%   { opacity: 0; }
  80%   { opacity: 0; }
}
.cart8 {
  position: absolute;
  width: 85vw;
  height: 49vw;
  left: 12vw;
  top: 4vw;
  background-image: url('../images/cart8.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: ca8 8s infinite;
}
@keyframes ca8 {
  0%    { opacity: 0; }
  20%   { opacity: 1; }
  80%   { opacity: 0; }
}
.cart9 {
  position: absolute;
  width: 85vw;
  height: 49vw;
  left: 12vw;
  top: 4vw;
  background-image: url('../images/cart9.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: ca6 8s infinite;
}
@keyframes ca9 {
  0%    { opacity: 0; }
  20%   { opacity: 0; }
  80%   { opacity: 1; }
}
.block7 {
  position: absolute;
  width: 32vw;
  height: 4vw;
  left: 34vw;
  top: 50vw;
  background-image: url('../images/block7.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  animation: ca7 8s infinite;
}
.block8 {
  position: absolute;
  width: 32vw;
  height: 4vw;
  left: 34vw;
  top: 50vw;
  background-image: url('../images/block8.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  animation: ca8 8s infinite;
  opacity: 0;
}
.block9 {
  position: absolute;
  width: 32vw;
  height: 4vw;
  left: 34vw;
  top: 50vw;
  background-image: url('../images/block9.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: ca6 8s infinite;
}
